body {
    background-image: url("../img/haikei_link.png");
    background-size: 150px;
}

.main-wrapper{
    display:flex;
}

ul{
    list-style: none;
    margin-top: 30px;
}

.menu{
    height: 900px;
    width: 20vw;
    margin-left: 0;
    background-color: #FFABAB;
}

.menu li{
    font-size: 25px;
    margin-bottom: 20px;
}

.menu img{
    height: 200px;
    width: 200px;
    margin-left: 20px;
    margin-top: 20px;
}

.top{
    height: 100%;
    width: 85%;
    margin-left: 30px;
    float: left;
}

.title{
    height: 158px;
    width: 595px;
    background-color: #FFABAB;
    box-shadow: 10px 10px;
    margin:0 auto;
}

.title h1{
    color: #FFCC00;
	background: -webkit-linear-gradient(0deg, #FF0070,#FFCC00,#40E0A8);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    text-align: center;
    padding-top: 30px;
}

.title h2{
    background: -webkit-linear-gradient(0deg, #FF0070,#FFCC00,#40E0A8);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    text-align: center;
}


.content_prf{
    text-align: center;
}

.content_prf img{
    margin-bottom: 30px;
}
table {
    margin-left: auto;
    margin-right: auto;
}